
.error {
    color: darkred;
}

.warning {
    color: darkorange;
}

.information {
    color: darkgreen;
}

.vscode-dark .error {
    color: red;
}

.vscode-dark .warning {
    color: orange;
}

.vscode-dark .information {
    color: lightgreen;
}

.vscode-high-contrast .error {
    color: lightpink;
}

.vscode-high-contrast .warning {
    color: yellow;
}

.vscode-high-contrast .information {
    color: lightgreen;
}

