
/* Some styles specific to the infoview. */

html,body {
    height: 100%;
}

.font-code {
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    line-height: var(--vscode-editor-line-height);
}

.codicon-blank {
    width: 20px;
    height: 16px;
}

/* These are syntax highlights for the string goal view. */
.goal-goals { color: #569cd6; }
.goal-vdash { color: #569cd6; }
.goal-case { color: #a1df90; }
.goal-hyp { color: #ffcc00; }
.goal-inaccessible { color: #808080 }

.vscode-light .goal-goals { color: #367cb6; }
.vscode-light .goal-vdash { color: #367cb6; }
.vscode-light .goal-case { color: #1f7a1f; }
.vscode-light .goal-hyp { color: #cc7a00; }
.vscode-light .goal-inaccessible { color: #777; }

/* Used to denote text highlighted by the pretty-print expression widget. */
.highlightable {
    border-radius: 2pt;
    transition: background-color 100ms ease-in-out;
}
.highlight {
    background-color: #96ccff;
}
.vscode-dark .highlight {
    background-color: #3c6c92;
}

/* Interactive traces */
.trace-line:hover {
    background-color: #dbeeff;
}
.vscode-dark .trace-line:hover {
    background-color: #1a2c3c;
}
.trace-class {
    opacity: 0.4;
}

.pre-wrap {
    white-space: pre-wrap;
}

.error {
    color: #e51400;
}

.warning {
    color: #bf8803;
}

.information {
    color: darkgreen;
}

.vscode-dark .error {
    color: #f14c4c;
}

.vscode-dark .warning {
    color: #cca700;
}

.vscode-dark .information {
    color: #89d185;
}

.vscode-high-contrast .error {
    color: lightpink;
}

.vscode-high-contrast .warning {
    color: yellow;
}

.vscode-high-contrast .information {
    color: lightgreen;
}

/* Headers for infoview */

select {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border);
}

/* Style for tooltips shown in the widget view. This should *not* style the tooltip contents.
For that, we can use more specific classes. */
.tooltip {
    background-color: var(--vscode-editorHoverWidget-background);
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px var(--vscode-widget-shadow);
    border-color: var(--vscode-editorHoverWidget-border);
    border-width: 1px;
    border-style: solid;
    max-width: calc(70%);
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .tooltip {
        max-width: 100vw;
    }
}

.tooltip-arrow,
.tooltip-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.tooltip-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: var(--vscode-editorHoverWidget-background);
}

.tooltip[data-popper-placement^='top'] > .tooltip-arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip-arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip-arrow {
    left: -4px;
}

/* Contents of a list of selections shown as a tooltip. */
.tooltip-menu-content {
    color: var(--vscode-editorHoverWidget-foreground);
    background: var(--vscode-editorHoverWidget-background);
}

.tooltip-menu-content .tooltip-menu-text {
    text-align: center;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
}

.tooltip-menu-content .tooltip-menu-icon {
    padding: 0px;
    margin-top:6px;
}

/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*/
/* adapted from https://github.com/microsoft/vscode/blob/main/src/vs/base/browser/ui/hover/hover.css */

/* Contents of a code tooltip showing a value, type, documentation, etc. */
.tooltip-code-content {
   color: var(--vscode-editorHoverWidget-foreground);
   background: var(--vscode-editorHoverWidget-background);
   line-height: var(--vscode-editor-line-height);
   overflow: hidden;
}

.tooltip-code-content a:hover {
    cursor: pointer;
}

.tooltip-code-content p,
.tooltip-code-content .code,
.tooltip-code-content ul {
    margin: 8px 0;
}

.tooltip-code-content hr {
    box-sizing: border-box;
    border-left: -8px;
    border-right: -8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -18px;
    margin-right: -18px;
    height: 1px;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--vscode-editorHoverWidget-border);
}

.tooltip-code-content p:first-child,
.tooltip-code-content .code:first-child,
.tooltip-code-content ul:first-child {
    margin-top: 0;
}

.tooltip-code-content p:last-child,
.tooltip-code-content .code:last-child,
.tooltip-code-content ul:last-child {
    margin-bottom: 0;
}

/* MarkupContent Layout */
.tooltip-code-content ul {
    padding-left: 20px;
}
.tooltip-code-content ol {
    padding-left: 20px;
}

.tooltip-code-content li > p {
    margin-bottom: 0;
}

.tooltip-code-content li > ul {
    margin-top: 0;
}

.tooltip-code-content code {
    border-radius: 3px;
    padding: 0 0.4em;
    background-color: var(--vscode-textCodeBlock-background);
}
