
/* Some styles specific to the infoview. */

html,body {
    height: 100%;
}

/* These are syntax highlights for the string goal view. */
.goal-goals { color: #569cd6; }
.goal-vdash { color: #569cd6; }
.goal-case { color: #a1df90; }
.goal-hyp { color: #ffcc00; }
.goal-inaccessible { color: #808080 }

.vscode-light .goal-goals { color: #367cb6; }
.vscode-light .goal-vdash { color: #367cb6; }
.vscode-light .goal-case { color: #1f7a1f; }
.vscode-light .goal-hyp { color: #cc7a00; }
.vscode-light .goal-inaccessible { color: #777; }

/* Used to denote text highlighted by the pretty-print expression widget. */
.highlightable {
    border-radius: 2pt;
    transition: background-color 100ms ease-in-out;
}
.highlight {
    background-color: #96ccff;
}
.vscode-dark .highlight {
    background-color: #3c6c92;
}

.pre-wrap {
    white-space: pre-wrap;
}

.error {
    color: #e51400;
}

.warning {
    color: #bf8803;
}

.information {
    color: darkgreen;
}

.vscode-dark .error {
    color: #f14c4c;
}

.vscode-dark .warning {
    color: #cca700;
}

.vscode-dark .information {
    color: #89d185;
}

.vscode-high-contrast .error {
    color: lightpink;
}

.vscode-high-contrast .warning {
    color: yellow;
}

.vscode-high-contrast .information {
    color: lightgreen;
}

/* Headers for infoview */

select {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border-color: var(--vscode-dropdown-border);
}

/* Styles for the tooltips shown in the widget view. */
.tooltip {
    /* color: var(--vscode-editorWidget-foreground);*/
    @extend .mtk1;
    background: var(--vscode-editorWidget-background);
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px var(--vscode-widget-shadow);
    border-color: var(--vscode-dropdown-border);
    border-width: 1px;
    border-style: solid;
	max-width: calc(70%);
	box-sizing: border-box;
}

@media (max-width: 500px) {
	.tooltip {
		max-width: 100vw;
	}
}

.tooltip-arrow,
.tooltip-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.tooltip-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: var(--vscode-editorWidget-background);
}

.tooltip[data-popper-placement^='top'] > .tooltip-arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip-arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip-arrow {
    left: -4px;
}

.popup-menu-text { text-align: center; padding: 5px; vertical-align:top; display:inline-block; }

.popup-menu-icon { padding: 0px; margin-top:6px; }

.codicon-blank {
    width: 20px;
    height: 16px;
}

.popup-menu {
    color: var(--vscode-editorWidget-foreground);
    background: var(--vscode-editorWidget-background);
}

.hover-div {
    overflow: hidden; font-size: 14px; line-height: 1.35714;
}

/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*/
 /* from github.com/microsoft/vscode/src/vs/base/browser/ui/hover/hover.css */
 .monaco-hover {
	cursor: default;
	overflow: hidden;
	z-index: 50;
	user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	box-sizing: initial;
	line-height: 1.5em;
}

.monaco-hover.hidden {
	display: none;
}

.monaco-hover a:hover {
	cursor: pointer;
}

.monaco-hover .hover-contents:not(.html-hover-contents) {
	padding: 4px 8px;
}

.monaco-hover .markdown-hover > .hover-contents:not(.code-hover-contents) {
	/* max-width: 500px; */
	word-wrap: break-word;
}

.monaco-hover .markdown-hover > .hover-contents:not(.code-hover-contents) hr {
	/* min-width: 100%; */
}

.monaco-hover p,
.monaco-hover .code,
.monaco-hover ul {
	margin: 8px 0;
}

.monaco-hover code {
	font-family: var(--monaco-monospace-font);
}

.monaco-hover hr {
	box-sizing: border-box;
	border-left: -8px;
	border-right: -8px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: -18px;
	margin-right: -18px;
	height: 1px;
    border-bottom-width: 0px;
    border-top-width: 1px;
	border-top-style: solid;
	border-top-color: var(--vscode-editorWidget-border);
}

.monaco-hover p:first-child,
.monaco-hover .code:first-child,
.monaco-hover ul:first-child {
	margin-top: 0;
}

.monaco-hover p:last-child,
.monaco-hover .code:last-child,
.monaco-hover ul:last-child {
	margin-bottom: 0;
}

/* MarkupContent Layout */
.monaco-hover ul {
	padding-left: 20px;
}
.monaco-hover ol {
	padding-left: 20px;
}

.monaco-hover li > p {
	margin-bottom: 0;
}

.monaco-hover li > ul {
	margin-top: 0;
}

.monaco-hover code {
	border-radius: 3px;
	padding: 0 0.4em;
}

.monaco-hover .monaco-tokenized-source {
	white-space: pre-wrap;
}

.monaco-hover .hover-row.status-bar {
	font-size: 12px;
	line-height: 22px;
}

.monaco-hover .hover-row.status-bar .actions {
	display: flex;
	padding: 0px 8px;
}

.monaco-hover .hover-row.status-bar .actions .action-container {
	margin-right: 16px;
	cursor: pointer;
}

.monaco-hover .hover-row.status-bar .actions .action-container .action .icon {
	padding-right: 4px;
}

.monaco-hover .markdown-hover .hover-contents .codicon {
	color: inherit;
	font-size: inherit;
	vertical-align: middle;
}

.monaco-hover .hover-contents a.code-link:hover,
.monaco-hover .hover-contents a.code-link {
	color: inherit;
}

.monaco-hover .hover-contents a.code-link:before {
	content: '(';
}

.monaco-hover .hover-contents a.code-link:after {
	content: ')';
}

.monaco-hover .hover-contents a.code-link > span {
	text-decoration: underline;
	/** Hack to force underline to show **/
	border-bottom: 1px solid transparent;
	text-underline-position: under;
}

/** Spans in markdown hovers need a margin-bottom to avoid looking cramped: https://github.com/microsoft/vscode/issues/101496 **/
.monaco-hover .markdown-hover .hover-contents:not(.code-hover-contents):not(.html-hover-contents) span {
	margin-bottom: 4px;
	display: inline-block;
}

.monaco-hover-content .action-container a {
	-webkit-user-select: none;
	user-select: none;
}

.monaco-hover-content .action-container.disabled {
	pointer-events: none;
	opacity: 0.4;
	cursor: default;
}
