div
{
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1
{
  display: block;
  width: 100%;

  margin-bottom: 1ex;
  margin-top: 1ex;
  border-bottom: 1px solid black;
  padding: 0px;

  font-weight: normal;
  font-size: 100%;
}

div.error h1 {
  color: red;
}

div.warning h1 {
  color: yellow;
}

div.information h1 {
  color: darkgreen;
}

#messages div {
  border-top: 5px solid transparent;
}

div.highlight {
  background: rgb(70%, 100%, 70%);
}

div.highlight-sep {
  border-top: 5px solid rgb(70%, 100%, 70%);
}

.vscode-light h1 {
  border-bottom: 1px solid black;
}

.vscode-dark h1 {
  border-bottom: 1px solid white;
}

.vscode-dark div.highlight {
  background: darkolivegreen;
}
