# HACK: see https://github.com/Microsoft/vscode-vsce/issues/12#issuecomment-306078884
*
*/**
../**

!dist/extension.js*
!dist/webview.js*
!dist/loogleview.js*
!dist/moogleview.js*
!dist/abbreviationview.js*
!dist/es-module-shims.js
!dist/**/*.production.min.js
!dist/lean4-infoview/index.css
!dist/lean4-infoview/codicon.ttf
!dist/loogleview/static
!dist/moogleview/static
!dist/abbreviationview/static
!media
!manual
!images
!syntaxes
!package.json
!language-configuration.json
!LICENSE
